{% macro social(href, title, icon) %}
    	<a href="{{ href }}" target="_blank" title="{{ title }}">
    		<img width="32" height="32" src="{{ constant("\\Podlove\\PLUGIN_URL") }}/lib/modules/contributors/images/icons/{{ icon }}" class="podlove-contributor-button" alt="{{ title }}" />
    	</a>
{% endmacro %}

{# imports the macro above #}
{% import _self as helper %}

<table class="podlove-global-contributors">
	{% if title %}
		<thead>
			<tr>
				<th colspan="2">{{ title }}</th>
			</tr>
		</thead>
	{% endif %}
	<tbody>
		{% for contributor in contributors %}
			{% if contributor.visible %}
				<tr>
					<td rowspan="2" class="avatar-cell" width="60">
						{{ contributor.avatar }}
					</td>
					<td class="social-cell">
						<strong class="contributor-name">{{ contributor.name }}</strong>
						<div class="social-icons">
							{% if contributor.publicemail %}
								{{ helper.social("mailto:" ~ contributor.publicemail, "E-Mail", "email-128.png") }}
							{% endif %}
							{% if contributor.website %}
								{{ helper.social(contributor.website, "Homepage", "www-128.png") }}
							{% endif %}
							{% if contributor.adn %}
								{{ helper.social(contributor.adn, "App.net", "adn-128.png") }}
							{% endif %}
							{% if contributor.twitter %}
								{{ helper.social(contributor.twitter, "Twitter", "twitter-128.png") }}
							{% endif %}
							{% if contributor.facebook %}
								{{ helper.social(contributor.facebook, "Facebook", "facebook-128.png") }}
							{% endif %}
						</div>
					</td>
				</tr>
				<tr class="episode-row">
					<td class="episodes-cell">
						<ul>
						{% for episode in contributor.episodes %}
							<li>
								<a href="{{ episode.url }}">{{ episode.title }}</a>
							</li>
						{% endfor %}
						</ul>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
(function ($) {
	$(document).ready(function() {
		$(".podlove-global-contributors .episodes-cell").each(function() {
			var items = $("li", this);


			if (items.length > 5) {
				$("li:gt(4)", this).hide();
				$('<span class="show-all-episodes"><a href="#">… show all episodes</a><span>').insertAfter($("ul", this));
			}
		});

		$(".podlove-global-contributors").on("click", ".show-all-episodes a", function(e) {
			e.preventDefault();

			$(this).closest(".episodes-cell")
				.find("li").show().end()
				.find(".show-all-episodes").hide();
		});
	});
}(jQuery));
</script>

<style type="text/css">
.podlove-global-contributors td {
	vertical-align: top;
	line-height: 1.3em;
}

.podlove-global-contributors .avatar-cell {
	max-width: 100px;
	text-align: center;
}

.podlove-global-contributors td {
	border-top-width: 0px;
}

.podlove-global-contributors .episode-row {
	/*margin-bottom: 10px;*/
}

.podlove-global-contributors td ul {
	margin: 0;
}

.podlove-global-contributors .social-cell li {
	margin: 0;
}

.podlove-global-contributors .episodes-cell {
	padding-top: 0px;
}

.podlove-global-contributors .episodes-cell li {
	display: inline-block;
	margin: 0;
}

.podlove-global-contributors .episodes-cell li a {
	background: #eee;
	padding: 2px 10px;
	line-height: 170%;
	border-radius: 10px;
}

</style>